@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  src: url('../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-Light', sans-serif;
  src: url('../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto-LightItalic', sans-serif;
  src: url('../fonts/Roboto/Roboto-Lightitalic.woff2') format('woff2'),
        url('../fonts/Roboto/Roboto-Lightitalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Regular', sans-serif;
  src: url('../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Light', sans-serif;
  src: url('../fonts/Montserrat/Montserrat-Light.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Medium', sans-serif;
  src: url('../fonts/Montserrat/Montserrat-Medium.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat-Bold', sans-serif;
  src: url('../fonts/Montserrat/Montserrat-Bold.woff2') format('woff2'),
  url('../fonts/Montserrat/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'MontserratAlternates-Light', sans-serif;
  src: url('../fonts/MontserratAlternates/MontserratAlternates-Light.woff2') format('woff2'),
  url('../fonts/MontserratAlternates/MontserratAlternates-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'MontserratAlternates-Medium', sans-serif;
  src: url('../fonts/MontserratAlternates/MontserratAlternates-Medium.woff2') format('woff2'),
  url('../fonts/MontserratAlternates/MontserratAlternates-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}