html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  background-image: url(../images/body-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 850px;
}
a{
  display: inline-block;
  text-decoration: none;
}
li{
  list-style: none;
}
.container {
  max-width: 1234px;
  margin: 0 auto;
  padding: 0 15px;
}