@import "_vars";


@media only screen and (min-width: 1180px) and (max-width: 1350px) {
  .container {
    padding: 0 20px;
  }
  .header__inner {
    font-size: 18px;

    &-logo {
      img {
        width: 188px;
        height: 60px;
      }
    }

    .header__menu {
      &-contacts {
        margin-left: 10px;
      }

      &-btn {
        padding-bottom: 12px;

        & li + li {
          margin-left: 14px;
        }

        & li {
          padding: 5px 14px;
        }
      }

      &-adress {
        font-size: 16px;
        margin-right: 200px;
      }

      &-number {
        top: 22px;
        right: 20px;

        a {
          font-size: 26px;
        }

        &:hover {
          top: 13px;

          a {
            transition: all .3s;
            border-bottom: 1.5px dashed $g-dark;
          }

          div {
            //display: block;
            height: 18px;
            transition: all .2s;
            overflow: visible;
            position: absolute;
            right: 22px;
            bottom: -10px;
          }
        }

      }

    }

  }
  .clients__inner {
    justify-content: space-around;
  }
  .mission__inner {
    &-item {
      position: relative;
    }

    &-icon {
      position: absolute;
      width: 110px;
      height: 110px;

      img {
        margin: 15px;
      }
    }

    &-text {
      padding: 10px 20px 10px 120px;
      max-width: 620px;
    }

    .small__description {
      padding: 10px 30px 10px 120px;
    }
  }
}

@media (max-width: 1179px) {
  .header__inner {
    font-size: 18px;

    &-logo {
      img {
        width: 188px;
        height: 60px;
      }
    }

    .header__menu {
      &-contacts {
        margin-left: 28px;
      }

      ul {
        padding-inline-start: 15px;
      }

      &-btn {
        padding-bottom: 12px;

        & li + li {
          margin-left: 14px;
        }

        & li {
          padding: 5px 14px;
        }
      }
      .header__menu-address::before{
        left: -12px;
      }
      &-adress {
        font-size: 16px;
        margin-right: 200px;
      }

      &-number {
        top: 22px;
        right: 24px;

        a {
          font-size: 26px;
        }

        &:hover {
          top: 13px;

          a {
            transition: all .3s;
            border-bottom: 1.5px dashed $g-dark;
          }

          div {
            //display: block;
            height: 18px;
            transition: all .2s;
            overflow: visible;
            position: absolute;
            right: 22px;
            bottom: -10px;
          }
        }

      }

    }

  }
  .main__title{
    max-width: 580px;
  }
  .mission__inner {
    justify-content: space-around;

    &-title {
      margin-left: 12px;
      font-size: 40px;
      max-width: 570px;
    }

    &-icon {
      position: absolute;
      width: 110px;
      height: 110px;
      transition: all .3s;

      img {
        margin: 15px;
      }
    }

    &-icon:hover {
      border: 1px solid rgba(220, 172, 100, 0.26);
      box-shadow: 0 0 10px $g-dark;
    }

    &-content {
      padding-left: 15px;
      //display: flex;
      //flex-direction: column;
      //align-items: center;
    }

    .small__description {
      padding: 10px 40px 10px 115px;
    }

    &-item {
      position: relative;
      text-align: left;
      width: 620px;
      //padding: 7px;
      //transition: all .3s;
      border-radius: 180px;
    }

    //&-item:hover {
    //  color: $grey-contacts;
    //  width: 508px;
    //  height: 124px;
    //
    //  border: 1px solid rgba(220, 172, 100, 0.26);
    //  box-shadow: 0 0 10px $g-dark
    //
    //}
    &-mobile{
      display: none;
    }
    &-text {
      font-size: 15px;
        //width: 510px;
        //height: 110px;
      display: block;
      text-align: left;
      padding: 5px 40px 5px 115px;
    }
    //&-mobile {
    //  display: block;
    //  font-family: 'Montserrat', sans-serif;
    //  font-weight: 400;
    //  font-size: 36px;
    //  color: $grey-text;
    //  background-color: $g-dark;
    //  width: 510px;
    //  height: 110px;
    //  border-radius: 180px;
    //  padding: 30px;
    //}

    //&-text {
    //  display: none;
    //}
  }
  .callback__main-title {
    font-weight: 500;
    font-size: 48px;
    padding-top: 80px;
  }
  .team__inner {
    padding: 0;
  }
  .team__inner-content {
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .team__inner-item:nth-child(1) {
    margin-left: 10px;
  }
  .team__inner-item + .team__inner-item {
    margin-left: 74px;
  }
  .footer__inner {
    padding: 10px 0;
  }
  .team__inner-item:last-child {
    margin-right: 10px;
  }
  .footer__content-item:first-child {
    max-width: 340px;
    margin: 0;
  }
  .footer__content-item {
    margin-left: 7px;
  }
}

@media only screen and (max-device-width: 1024px) {
  .header__inner {
    .header__menu-hamburger {
      display: block;
    }
  }
  .header__menu {

    &-btn {
      display: none;
    }
  }
}

@media only screen and (min-device-width: 768px) {

}

@media (max-width: 540px) {

}

@media only screen and (max-device-width: 480px) {

}

@media only screen and (min-device-width: 320px) {

}
