@import "_vars";


@media only screen and (min-width: 1180px) and (max-width: 1350px) {
  .container {
    padding: 0 20px;
  }
  .header__inner {
    font-size: 18px;

    &-logo {
      img {
        width: 188px;
        height: 60px;
      }
    }

    .header__menu {
      &-contacts {
        margin-left: 10px;
      }

      &-btn {
        padding-bottom: 12px;

        & li + li {
          margin-left: 14px;
        }

        & li {
          padding: 5px 14px;
        }
      }

      &-adress {
        font-size: 16px;
        margin-right: 200px;
      }

      &-number {


        a {
          font-size: 26px;
        }

        &:hover {
          top: 13px;

          a {
            transition: all .3s;
            border-bottom: 1.5px dashed $g-dark;
          }

          div {
            //display: block;
            height: 18px;
            transition: all .2s;
            overflow: visible;
            position: absolute;
            right: 22px;
            bottom: -10px;
          }
        }

      }

    }

    .header__menu-number {
      top: 22px;
      right: -260px;
    }
  }
  .clients__inner {
    justify-content: space-around;
  }
  .mission__inner {
    &-item {
      position: relative;
    }

    &-icon {
      position: absolute;
      width: 110px;
      height: 110px;

      img {
        margin: 15px;
      }
    }

    &-text {
      padding: 10px 20px 10px 120px;
      max-width: 620px;
    }

    .small__description {
      padding: 10px 30px 10px 120px;
    }
  }
}

@media (max-width: 1179px) {
  .header__inner {
    font-size: 16px;

    &-logo {
      img {
        width: 188px;
        height: 60px;
      }
    }

    .header__menu {
      margin-left: 40px;

      &-contacts {
        margin-left: 6px;
      }

      &-btn {
        padding-bottom: 12px;

        & li + li {
          margin-left: 12px;
        }

        & li {
          padding: 5px 14px;
        }
      }

      .header__menu-address::before {
        left: -30px;
        top: 0;
      }

      &-adress {
        display: block;
        font-size: 16px;
        margin-right: 200px;
      }

      &-number {


        .header__number-a {
          display: block;
        }

        .header__number-img {
          display: none;
        }

        &:hover {
          top: 13px;

          a {
            transition: all .3s;
            border-bottom: 1.5px dashed $g-dark;
          }

          div {
            //display: block;
            height: 18px;
            transition: all .2s;
            overflow: visible;
            position: absolute;
            right: 22px;
            bottom: -10px;
          }
        }

      }

    }

    .header__menu-number {
      top: 20px;
      right: -240px;
    }
  }
  .main__title {
    max-width: 580px;
  }
  .mission__inner {
    justify-content: space-around;

    &-title {
      margin-left: 12px;
      font-size: 40px;
      max-width: 570px;
    }

    &-icon {
      position: absolute;
      width: 110px;
      height: 110px;
      transition: all .3s;

      img {
        margin: 15px;
      }
    }

    &-icon:hover {
      border: 1px solid rgba(220, 172, 100, 0.26);
      box-shadow: 0 0 10px $g-dark;
    }

    &-content {
      padding-left: 15px;
      //display: flex;
      //flex-direction: column;
      //align-items: center;
    }

    .small__description {
      padding: 10px 40px 10px 115px;
    }

    &-item {
      position: relative;
      text-align: left;
      width: 620px;
      //padding: 7px;
      //transition: all .3s;
      border-radius: 180px;
    }

    //&-item:hover {
    //  color: $grey-contacts;
    //  width: 508px;
    //  height: 124px;
    //
    //  border: 1px solid rgba(220, 172, 100, 0.26);
    //  box-shadow: 0 0 10px $g-dark
    //
    //}
    &-mobile {
      display: none;
    }

    &-text {
      font-size: 15px;
      //width: 510px;
      //height: 110px;
      display: block;
      text-align: left;
      padding: 5px 40px 5px 115px;
    }

    //&-mobile {
    //  display: block;
    //  font-family: 'Montserrat', sans-serif;
    //  font-weight: 400;
    //  font-size: 36px;
    //  color: $grey-text;
    //  background-color: $g-dark;
    //  width: 510px;
    //  height: 110px;
    //  border-radius: 180px;
    //  padding: 30px;
    //}

    //&-text {
    //  display: none;
    //}
  }
  .callback__main-title {
    font-weight: 500;
    font-size: 50px;
    padding-top: 80px;
  }
  .team__inner {
    padding: 0;
  }
  .team__inner-content {
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .team__inner-item:nth-child(1) {
    margin-left: 10px;
  }
  .team__inner-item + .team__inner-item {
    margin-left: 74px;
  }
  .footer__inner {
    padding: 10px 0;
  }
  .team__inner-item:last-child {
    margin-right: 10px;
  }
  .footer__content-item:first-child {
    max-width: 340px;
    margin: 0;
  }
  .footer__content-item {
    margin-left: 7px;
  }
}

@media (max-width: 1060px) {
  .header__inner {
    .header__menu {
      margin-left: 0;
    }
  }
}

@media only screen and (min-device-width: 900px) and (max-device-width: 1024px) {
  .header__inner {
    font-size: 18px;

    &-logo {
      padding: 0;

      img {
        width: 188px;
        height: 60px;
      }
    }

    .header__menu {
      display: flex;
      justify-content: space-between;
      margin-left: 30px;

      &-contacts {
        margin-top: 22px;
        margin-left: 64px;
        width: 230px;
        height: 52px;
        display: flex;
        align-items: flex-end;
        position: relative;
      }

      ul {
        padding-inline-start: 15px;
      }

      &-btn {
        padding-bottom: 12px;
        padding-top: 10px;

        & li + li {
          margin-left: 14px;
        }

        & li {
          padding: 5px 14px;
        }
      }

      .header__menu-address::before {
        left: -28px;
        top: -3px;
      }

      .header__menu-address {
        font-size: 16px;
        margin-right: 0;
        padding-bottom: 0;
      }

      .header__number-a {
        display: none;
      }

      .header__number-img {
        display: block;
      }

      &-number {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 0;
        left: 120px;

        a {
          font-size: 20px;
        }

        &:hover {
          top: 0;

          a {
            border-bottom: none;
          }

          div {
            display: none;
          }
        }
      }

    }

  }
  .mission__inner-title {
    margin-left: 0;
  }
  .team__inner-content {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .team__inner-item:nth-child(1) {
    margin-left: 0;
  }
  .team__inner-item:last-child {
    margin-right: 0;
  }
  .team__item-png {
    img {
      width: 221px;
      height: 292px;
    }
  }
  .team__item-name {
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 27px;
  }
  .footer__content-item {
    .footer__logo {
      img {
        width: 280px;
        height: 86px;
      }
    }

    .footer__title-contacts {
      font-size: 23px;
    }
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 899px) {
  .header__inner {
    font-size: 18px;

    &-logo {
      padding: 0;

      img {
        width: 188px;
        height: 60px;
      }
    }

    .header__menu {
      display: flex;
      justify-content: space-between;
      margin-left: 30px;

      &-contacts {
        margin-top: 0;
        margin-left: 34px;
        width: 30px;
        height: 30px;
        position: relative;
      }

      &-btn {
        padding-bottom: 12px;
        padding-top: 10px;

        & li + li {
          margin-left: 14px;
        }

        & li {
          padding: 5px 14px;
        }
      }

      .header__menu-address {
        display: none;
      }

      .header__number-a {
        display: none;
      }

      .header__number-img {
        display: block;
      }

      &-number {
        width: 30px;
        height: 30px;
        position: absolute;
        top: -4px;
        left: -30px;

        a {
          font-size: 20px;
        }

        &:hover {
          top: 0;

          a {
            border-bottom: none;
          }

          div {
            display: none;
          }
        }
      }

    }

  }

  .main__title {
    text-align: center;
    margin: 0 auto;
    font-size: 50px;
  }
  .main__info {
    max-width: 500px;
    text-align: center;
    font-size: 30px;
    margin: 0 auto 100px;
  }
  .button__border {
    position: static;
    margin: 0 auto 5px;
    display: block;

    &:hover {
      border: none;
      box-shadow: none;
    }
  }
  .main__button {
    display: block;
    box-shadow: 0 0 10px $g-dark;
    border: 1px solid rgba(220, 172, 100, 0.26);
  }
  .contact__details {
    margin: 0 auto;
    max-width: 260px;
  }
  .clients__inner {
    align-items: flex-start;
  }
  .clients__title {
    font-size: 54px;
  }
  .clients__description {
    font-size: 16px;
  }
  .mission {
    border-bottom: 1px solid #212121;
    overflow: hidden;

    .mission__inner {
      &-title {
        position: relative;
        margin: 0 auto 110px;
        font-size: 38px;
        max-width: 580px;
        text-align: center;
      }

      &-bg {
        box-sizing: content-box;
        max-width: 900px;
        margin: 0 auto;
        position: absolute;

        .bg-image {
          background: rgba(37, 38, 38, 0.5);
          height: 991px;
          position: absolute;
          width: 900px;
          top: 0;
        }
      }

      &-item {
        margin: 0 auto 110px;
      }

      &-text {
        background-color: #262626;
      }
    }
  }
  .callback__inner {
    margin-left: 0;
  }
  .callback__main {
    &-title {
      font-size: 42px;
      line-height: 56px;
      text-align: center;
      margin: 0 auto 55px;
    }

    &-form {
      max-width: 477px;
      margin: 0 auto;
    }

    .callback__button-border {
      position: static;
      margin: 0 auto 5px;
      display: block;

      &:hover {
        border: none;
        box-shadow: none;
      }

      .callback__main-submit {
        display: block;
        box-shadow: 0 0 10px $g-dark;
        border: 1px solid rgba(220, 172, 100, 0.26);

      }
    }

    .contact__details {
      margin: 0 auto;
    }
  }
  .team__inner-content {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .team__inner-item + .team__inner-item {
    margin-left: 40px;
  }
  .team__inner-item:nth-child(1) {
    margin-left: 0;
  }
  .team__inner-item:last-child {
    margin-right: 0;
  }
  .team__item-png {
    img {
      width: 205px;
      height: 271px;
    }
  }
  .team__item-name {
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 25px;
  }
  .footer__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__content-item {
    .footer__logo {
      img {
        width: 280px;
        height: 86px;
      }
    }

    .footer__title-contacts {
      font-size: 23px;
    }

    & + .footer__content-item {
      margin-left: 50px;
      text-align: center;
    }

    &:last-child {
      margin-left: 0;

      form {
        input {
          margin: 0 auto 14px;
        }
      }
    }

    .footer__button-submit {
      box-shadow: 0 0 10px $g-dark;
      border: 1px solid rgba(255, 148, 0, 0.26);
    }

  }
  .footer__button-border {
    border: none;
    margin: 0 auto;
  }

}

@media only screen and (max-device-width: 767px) {
  .header__inner {
    width: 100%;

    &-logo {
      margin: 0;
    }

    .header__menu-hamburger {
      display: block;
    }

    .header__menu-btn {
      display: none;
    }

    .header__menu-contacts {
      margin-left: 0;

      ul {
        padding-inline-start: 0;
      }
    }

    .header__menu-address {
      display: none;
    }

    .header__menu-number {
      position: static;
      width: 50px;
      margin-left: 0;
      text-align: left;

      .header__number-a {
        display: none;
      }

      .header__number-img {
        display: block;
      }
    }
  }

  .main__title {
    text-align: center;
    margin: 0 auto;
    max-width: 460px;
    font-size: 40px;

    span {
      display: block;
    }
  }
  .main__info {
    max-width: 440px;
    text-align: center;
    font-size: 28px;
    margin: 0 auto 60px;
  }
  .button__border {
    position: static;
    margin: 0 auto 5px;
    display: block;
  }
  .main__button {
    display: block;
    box-shadow: 0 0 10px $g-dark;
    border: 1px solid rgba(220, 172, 100, 0.26);
  }
  .contact__details {
    margin: 0 auto;
    max-width: 260px;
  }
  .clients__inner {
    flex-flow: wrap column;
  }
  .clients__item {
    margin: 25px auto 25px;
  }
  .clients__item:first-child {
    margin-top: 50px;
  }
  .clients__item:last-child {
    margin-bottom: 50px;
  }
  .clients__description {
    margin-bottom: 0;
  }
  .mission {
    border-bottom: 1px solid #212121;
    overflow: hidden;

    .mission__inner {
      display: block;

      &-content {
        padding: 30px 0 0 0;
      }

      &-title {
        position: relative;
        margin: 0 auto 80px;
        font-size: 32px;
        max-width: 510px;
        text-align: left;
      }

      &-bg {
        box-sizing: content-box;
        max-width: 900px;
        margin: 0 auto;
        position: absolute;

        .bg-image {
          background: rgba(37, 38, 38, 0.5);
          height: 991px;
          position: absolute;
          width: 900px;
          top: 0;
        }
      }

      &-icon {
        width: 100px;
        height: 100px;

        img {
          margin: 10px;
        }
      }

      &-text {
        font-size: 14px;
        padding: 10px 20px 10px 100px;
        height: 110px;
      }

      .small__description {
        padding: 20px 40px 20px 100px;
      }


      &-item {
        margin: 0 auto 60px;
        width: 520px;
      }

      &-text {
        background-color: #262626;
      }
    }
  }
  .callback__inner {
    margin-left: 0;
  }
  .callback__main {
    &-title {
      font-size: 38px;
      line-height: 50px;
      text-align: center;
      margin: 0 auto 55px;
      padding-top: 60px;
      width: 440px;
    }

    &-form {
      max-width: 477px;
      margin: 0 auto;
    }

    .callback__button-border {
      position: static;
      margin: 0 auto 5px;
      display: block;

      .callback__main-submit {
        display: block;
        box-shadow: 0 0 10px $g-dark;
        border: 1px solid rgba(220, 172, 100, 0.26);
      }
    }

    .contact__details {
      margin: 0 auto;
      padding-bottom: 0;
    }
  }

  .team__inner {
    &-title {
      margin-top: 20px;
      margin-bottom: 64px;
    }

  }
  .team__inner-content {
    flex-flow: wrap column;
    margin-bottom: 0;

    .team__inner-item {
      margin: 0 auto 40px;
    }
  }
  .team__item-png {
    img {
      width: 246px;
      height: 325px;
    }
  }
  .team__item-name {
    margin-top: 14px;
    margin-bottom: 12px;
    font-size: 32px;
  }
  .footer__content {
    flex-flow: wrap column;
    justify-content: center;
  }
  .footer__content-item {
    margin: 0 auto 24px;
    text-align: center;

    &:first-child {
      margin: 0 auto 24px;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .footer__logo {
      max-width: 280px;
      max-height: 90px;
      margin: 0 auto;

      img {
        width: 280px;
        height: 86px;
      }
    }

    .footer__title-contacts {
      font-size: 23px;
    }

    form {
      input {
        margin: 0 auto 14px;
      }
    }

    .footer__button-submit {
      box-shadow: 0 0 10px $g-dark;
      border: 1px solid rgba(255, 148, 0, 0.26);
    }

  }
  .footer__button-border {
    border: none;
    margin: 0 auto;
  }
}

@media only screen and (max-device-width: 540px) {
  .mission {
    .mission__inner-title {
      text-align: left;
    }

    .mission__inner-item {
      margin: 0 auto 60px;
      max-width: 400px;
      padding: 38px 29px 38px 0;
      background: rgba(220, 172, 100, 0.4);
      border-radius: 50px;

    }
  }
  .mission__inner-icon {
    position: static;
    margin-right: 0;
  }
  .mission__inner-text {
    display: none;
  }
  .mission__inner-mobile {
    display: inline-block;
    font-size: 24px;
    color: $grey-text;
    margin: 0 auto;
  }
  .callback__main {
    &-title {
      text-align: left;
    }

    .callback__form-input {
      max-width: 400px;
      width: 100%;
      margin: 0 auto 38px;
    }

    .callback__button-border {
      max-width: 330px;
      width: 100%;

      .callback__main-submit {
        max-width: 320px;
        width: 100%;
      }
    }
  }
}

@media only screen and (max-device-width: 500px) {
  .main__title {
    font-size: 35px;
  }
  .mission {
    .mission__inner-title {
      font-size: 25px;
      max-width: 400px;
      line-height: 34px;
    }

    .mission__inner-item {
      max-width: 350px;
    }
  }
}

@media only screen and (max-device-width: 460px) {
  .callback__main-title {
    max-width: 440px;
    font-size: 32px;
    line-height: 42px;
    width: 100%;
  }
  .team__inner-title {
    font-size: 40px;
  }
}

@media only screen and (max-device-width: 426px) {
  .main__title {
    font-size: 32px;
    padding-bottom: 24px;
  }
  .main__info{
    font-size: 22px;
    line-height: 28px;
  }
  .button__border{
    max-width: 300px;
    position: static;
  }

  .main__button{
    max-width: 280px;
    a{
      font-size: 16px;
      padding: 22px 40px;
    }
  }
  .contact__details{
    font-size: 12px;
    line-height: 16px;
  }

.mission__inner-mobile{
  font-size: 20px;
  font-weight: 300;
}
  .team__inner-title{
    font-size: 37px;
  }
  .footer-copy{
    .copy__inner{
      font-size: 16px;
    }
  }
}

@media only screen and (max-device-width: 414px) {
  .mission {
    .mission__inner-title {
      max-width: 310px;
      margin: 0 0 80px 0;
    }

    .mission__inner-item {
      max-width: 300px;
    }
  }
  .callback__main-title {
    font-size: 26px;
    line-height: 36px;
    padding-top: 40px;
  }

}
@media only screen and (max-device-width: 385px) {
  .main__title {
    font-size: 30px;
  }
}
@media only screen and (max-device-width: 360px) {
  .main__title {
    font-size: 26px;
  }
}

@media only screen and (min-device-width: 320px) {


}
