@import "_fonts";
@import "_vars";
@import "_global";

body {
  background-color: $bg;
}

//header
.header {
  height: 100px;
  font-weight: 300;
  background: linear-gradient(180deg, rgba(37, 38, 38, 0.9) 0%, rgba(37, 38, 38, 0.855) 14.58%, rgba(37, 38, 38, 0.81) 28.65%, rgba(37, 38, 38, 0.765) 43.75%, rgba(37, 38, 38, 0.72) 60.94%, rgba(37, 38, 38, 0.675) 78.65%, rgba(37, 38, 38, 0) 100%);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  top: 0;
  color: $g-dark;
  font-size: 20px;
  .header__menu-hamburger {
    display: none;
    width: 24px;
  }
  .header__menu-row {

    width: 100%;
    background-color: $g-light;
    height: 3px;
    margin-bottom: 5px;
  }
  .header__menu-row:nth-child(3){
    width: 75%;
    margin-left: auto;
  }

  &-logo {
    padding: 17px 0;

    img {
      width: 196px;
      height: 66px;
    }
  }

  li {
    display: inline-block;
  }

  a {
    color: $g-dark;
  }
}

.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 963px;
  min-height: 56px;
  position: relative;
  &-btn {
    padding-bottom: 15px;

    li {
      padding: 6px 15px;
      border: 1px solid $g-dark;
      border-radius: 132px;

      & + li {
        margin-left: 26px;
      }
    }
  }

  &-contacts {
    margin-left: 26px;
    position: relative;

    span {
      display: block;
    }
  }

  &-address {
    font-size: 17px;
    padding-bottom: 13px;
    margin-right: 260px;
    position: static;
    top: 13px;

    &::before {
      content: '';
      background-image: url(../images/icons/map.svg);
      width: 23px;
      height: 36px;
      position: absolute;
      top: 19px;
      left: 8px;
    }
  }

  &-number {
    text-align: center;
    margin-left: 24px;
    position: absolute;
    padding-bottom: 11px;
    width: 230px;
    top: 23px;
    right: 0;
    transition: all .3s;

    div {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      height: 0;
      overflow: hidden;
      cursor: default;
    }

    a {
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
    }

    &:hover {
      top: 10px;

      a {
        transition: all .3s;
        border-bottom: 1.5px dashed $g-dark;
      }

      div {
        height: 18px;
        transition: all .2s;
        overflow: visible;
        position: absolute;
        right: 22px;
        bottom: -12px;
      }
    }
  }
}

//end header

//main page
.main__page {
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  background: $bg url(../images/body-bg.png) center no-repeat;
  max-height: 850px;
}
.main__inner {
  position: relative;
  padding-top: 200px;
  padding-bottom: 100px;
}

.main__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 55px;
  font-weight: 400;
  color: $g-light;
  max-width: 900px;
  padding-bottom: 40px;
  object-fit: contain;
}

.main__info {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  font-size: 32px;
  color: $grey-text;
  line-height: 40px;
  margin-bottom: 190px;

  span {
    display: block;
  }
}

.button__border {
  position: absolute;
  left: 5px;
  bottom: 130px;
  display: inline-block;
  padding: 8px;
  border: 1px solid transparent;
  width: 418px;
  border-radius: 70px;
  margin-bottom: 10px;
  transition: all .2s;
}
.button__border:hover{
  border: 1px solid rgba(220, 172, 100, 0.26);
  box-shadow: 0 0 10px $g-dark;

}
.main__button {
  background: $g-dark;
  width: 400px;
  height: 66px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 70px;
  outline: none;
  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: $grey-text;
    font-size: 21px;
    padding: 19px 70px;

  }
}

.contact__details {
  max-width: 290px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: $grey-contacts;
  margin-left: 35px;
}

//end main page
//

//clients page
.clients {
  max-width: 1440px;
  margin: 0 auto;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.8);
  text-align: center;
}

.clients__inner {

  display: flex;
  justify-content: space-between;
  align-items: center;
}


.clients__item {
  margin-top: 68px;
}

.clients__title {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-size: 70px;
  color: $g-light;
  & + .clients__title {
  }
}

.clients__description {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  line-height: 23px;
  font-size: 18px;
  color: $g-light;
  margin-bottom: 67px;

  span {
    display: block;
  }
}

//end clients page

//mission block
.mission {
  .container {
    position: relative;
  }
}

.mission__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #212121;

  &-bg {
    min-width: 493px;
    height: 991px;
    left: 0;
    overflow: hidden;
    .bg-image {
      background: rgba(37, 38, 38, 0.5);
      min-height: 991px;
      position: absolute;
      width: 493px;
      top: 0;
    }
  }

  &-content {
    padding: 62px 103px 25px 26px;
  }

  &-item {
    width: 717px;
    height: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    //text-align: center;
  }

  &-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 55px;
    width: 620px;
    color: $g-light;
    margin-bottom: 84px;
  }

  &-icon {
    display: inline-block;
    border: $g-light;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: $g-light;
    margin-right: 37px;
    img {
      margin: 10px;
    }
  }

  &-text {
    display: inline-block;
    max-width: 547px;
    height: 120px;
    padding: 10px 40px;
    border: 4px solid $g-light;
    border-radius: 180px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: $grey-text;
  }

  .small__description {
    padding: 20px 40px;
  }
}

//end mission block

//callback block
.callback {
  margin: 0 auto;
  background: url(../images/callback-bg.png) center no-repeat;
  max-width: 1440px;
  max-height: 968px;
  overflow: hidden;
}

.callback__inner {
  margin-left: 66px;
}

.callback__main {
  font-family: 'Montserrat', sans-serif;

  &-title {
    font-weight: 400;
    font-size: 55px;
    line-height: 78px;
    color: $g-light;
    max-width: 650px;
    padding-top: 116px;
    margin-bottom: 55px;
  }
  &-form{
    position: relative;
  }
  .callback__form {

    &-input {
      display: block;
      font-weight: 300;
      color: $grey-text;
      outline: none;
      padding: 8px 33px;
      font-size: 16px;
      width: 476px;
      height: 58px;
      margin-bottom: 38px;
      background-color: $bg;
      border: 3px solid $grey-contacts;
      border-radius: 46px;
      transition: all .3s;

      &:focus {
        box-shadow: 0 0 19px $bg;
      }

      &_error {
        box-shadow: 0 0 19px tomato;
      }
    }
  }



  .callback__button-border{
    position: absolute;
    border: 1px solid transparent;
    width: 333px;
    padding: 5px;
    border-radius: 70px;
    margin-bottom: 10px;
    transition: all .2s;
  }
  .callback__button-border:hover{
    border: 1px solid rgba(220, 172, 100, 0.26);
    box-shadow: 0 0 4px $g-dark;
  }
  button {
    width: 320px;
    background-color: $g-dark;
    border: 1px solid rgba(0, 0, 0, 0.2);
    height: 52px;
    outline: none;
    border-radius: 70px;
    cursor: pointer;
  }
  .callback__button-text {
    color: $grey-text;
    font-weight: 500;
    font-size: 16px;
  }
  .contact__details {
    margin-top: 110px;
    margin-left: 15px;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 24px;
  }

  &-transition {
    width: 1440px;
    height: 78px;
    background: linear-gradient(180deg, rgba(58, 58, 58, 0) 24.48%, #252525 100%);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}

//end mission block

//team block
.team {
  background: $bg;
}

.team__inner {
  padding: 50px 46px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 300;
  color: $grey-text;

  &-title {
    font-weight: 500;
    font-size: 55px;
    color: $g-light;
    margin-bottom: 78px;
  }

  &-content {
    display: flex;
    align-items: center;
  }

  &-png {
    width: 287px;
    height: 380px;
  }

  &-item + .team__inner-item {
    margin-left: 124px;
  }
}

.team__item-name {
  margin-top: 20px;
  font-size: 32px;
  margin-bottom: 14px;
}

.team__item-description {
  max-width: 280px;
}

//end team block

//footer block
.footer__inner {
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &-item {
    max-width: 350px;

    .footer__logo {
      img {
        margin-bottom: 20px;
        width: 304px;
        height: 100px;
      }
    }

    .footer__title {
      font-size: 36px;
      color: $grey-text;
      margin-bottom: 14px;
    }
    .footer__title-contacts{
      font-size: 26px;
      font-weight: 700;
      color: $g-dark;
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    li {
      font-size: 24px;
      color: $grey-text;
      margin-bottom: 14px;

      span {
        display: block;
      }
    }

    .footer__text {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-style: italic;
      font-size: 24px;
      color: rgba(255, 192, 97, 0.6);
    }
    form{
      input {
        background-color: $bg;
        margin-left: 13px;
        width: 300px;
        height: 54px;
        padding: 8px 20px;
        font-weight: 400;
        border: 4px solid $g-light;
        border-radius: 46px;
        color: #FFFFFF;
        text-align: center;
        display: block;
        margin-bottom: 14px;
        outline: none;
      }
      button {
        height: 48px;
        width: 292px;
        background-color: $g-dark;
        border: 0.666667px solid rgba(0, 0, 0, 0.2);
        outline: none;
        border-radius: 47px;
        cursor: pointer;
      }
    }
  }
}
.footer__button-text {
  color: $grey-text;
  font-weight: 500;
  font-size: 16px;
}
.footer__button-border{
  border: 0.6px solid transparent;
  width: 304px;
  padding: 5px;
  border-radius: 47px;
  margin-left: 13px;
  transition: all .2s;
}
.footer__button-border:hover{
  border: 0.6px solid rgba(220, 172, 100, 0.26);
  box-shadow: 0 0 6.66667px $g-dark;
}
.footer-copy{
  .container{
    position: relative;
    height: 64px;
  }
  .copy__inner{
    position: absolute;
    right: 15px;
    bottom: 18px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #56462D;
  }
}
@import "media";